*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 110vh;

}

.navbar-style
{
    box-shadow: 0 5px 10px #e0115f;
    text-transform: uppercase;
    padding: 14px 16px;
    font-size: 17px;
}
.icon-bar
{
    background: black;
    background-color: #55aac4

}
li a {
    color: #333;

}

@font-face{

font-family: 'Lora', serif;
src: url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

}

.circle-img{
   
        width: 250px;
        height: 250px;
        overflow: hidden;
        background-color: #55aac4

}

.circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    background-color: #55aac4

}