*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 110vh;
}

.navbar-style
{
    box-shadow: 0 5px 10px #e0115f;
    text-transform: uppercase;
    padding: 14px 16px;
    font-size: 17px;
    color: #55aac4
}
.icon-bar
{
    background: black;
}
li a {
    color: #333;
}

@font-face{

font-family: 'Lora', serif;
src: url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

}

.bg-1 { 
    background-color: #55aac4;
    color: #000000; 
}
  